<% provide(:title, t(:log_id)) %>
<h1><%= t(:log_id) %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_tag(sessions_path) do %>

      <%= label :email, t('activerecord.attributes.person.email') %>
      <%= text_field :session, :email %>

      <%= label :password, t('activerecord.attributes.person.password') %>
      <%= password_field :session, :password %>
      <br>
		
       <%= submit_tag(t(:log_id), class: "btn btn-primary", id: 'btn_log_in') %>
    <% end %>

  </div>
</div>
