<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_tag(sessions_path) do %>

      <%= label :session, :email %>
      <%= text_field :session, :email %>

      <%= label :session, :password %>
      <%= password_field :session, :password %>
      <br>
		
       <%= submit_tag("Sign in", class: "btn btn-primary") %>
    <% end %>

  </div>
</div>
