<% if @guest.new_record? %>
<% else %>
<% end %>
<%= form_for(@guest, url: @guest.new_record?? guests_path: guest_path(@guest), :html => {:autocomplete => "off"}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

	<div class="row">
		<div class="col-md-3">
			<%= field_set_tag do %>					
		  	<%= f.label :name, t(:name) %>
		  	<%= f.text_field :name, class:'form-control' %>
		  	
		  	<%= f.label :family_name %>
		  	<%= f.text_field :family_name, class:'form-control' %>	
		  	
		  	<%= f.label :gender %>
		  	<%= f.select :gender, @guest.gender_arr,{}, { class: 'form-control' } %>	
			<% end %>
		</div>
		
		<div class="col-md-3">
			<%= field_set_tag do %>	
			
		  	<%= f.label :email %>
		  	<%= f.text_field :email, :autocomplete => :off, class:'form-control' %>
							
		  	<%= f.label :phone_mob %>
		  	<%= f.telephone_field :phone_mob, class:'form-control' %>
		  	 
		  	<%= f.label :comments %>
		  	<%= f.text_area :comments, class:"form-control text_area_address" %>	
				  	
			<% end %>
		</div>
		
		<div class="col-md-3">
			<%= field_set_tag do %>	
		  	<%= f.label :language_id %>
		  	<%= f.select :language_id, Language.languages_array, {include_blank: true}, {  class: 'form-control' } %>	
		  	
		  	<% unless @guest.new_record? %>
			  	<%= f.label :org_relation_status_id %>
			  	<%= f.select :org_relation_status_id, OrgRelationStatus.statuses_array,{}, { class: 'form-control' } %>	
				<% end %>
				  	 
		  	<%= f.label :guest_status %>
		  	<%= f.text_area :guest_status, class:"form-control text_area_address" %>	
				  	
		  	
			<% end %>
		</div>
	</div>
	

	<div class="row">
		<div class="col-md-6">
			<%= field_set_tag do %>	
		  	<%= f.label :address %>
		  	<%= f.text_area :address, class:"text_area_address", class:'form-control' %>								
			<% end %>
		</div>
	</div>
		
	<div class="row">
		<div class="col-md-6">
			<%= field_set_tag do %>	
		    <%= f.label :event_date %> 
		    <%= f.date_field :event_date, class:'form-control date' %>
		    
		  	<%= f.label :event_description %>
		  	<%= f.text_area :event_description, class:"form-control text_area_address" %>			
			<% end %>
		</div>
	</div>
	
	
  <%= f.submit "Save changes", class: "btn btn-primary display_none",
  		id:'btn_submit' %>
<% end %>
