<% if @person.is_department_exists?(department) %>
	<tr class="<%= cycle('list_line_odd', 'list_line_even') %>"
		id="tr_item_id_<%= department.id %>">
		<td class='td_left field long-long-size-td module-link'>
			<%= department.name %>	
		</td>	
		<td class='td-img-holder ss-size-td' id="td_item_exist_<%= department.id %>" >
			<%= image_tag("vicon.gif") %>
		</td>
	  	<td class='td_holder form_holder'>
	  		<% if admin_user? %>
			  	<%= render partial: "remove_department_form", 
					locals: {person: @person, department: department} %>
			<% end %>
				
	  	</td>
	</tr>
<% else %>
	<tr class="<%= cycle('list_line_odd', 'list_line_even') %>"
		id="tr_item_id_<%= department.id %>">		
		<td class='td_left field long-long-size-td module-link'>
			<%= department.name %>	
		</td>	
		<td class='td-img-holder ss-size-td' id="td_item_exist_<%= department.id %>" >
			&nbsp;
		</td>
	  	<td class='td_holder form_holder'>
	  		<% if admin_user? %>
			  	<%= render partial: "add_department_form", 
					locals: {person: @person, department: department} %>
	  		<% end %>
	  	</td>
	</tr>
<% end %>

