<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
	<td class='td_left' style='width: 32px'>
		<% if person.email.present?%>
			<%= gravatar_for person, size: 32 %>
		<% end %>				
	</td>
	<td class='td_holder medium-size-td  module-link'>
		<%= link_to person.name, edit_person_path(person) %>		
	</td>
	<td class='td_holder medium-size-td'>
		<%= person.family_name %>		
	</td>
	<td class='td_holder medium-size-td'>
		<%= person.gender_name %>		
	</td>
	<td class='td_holder medium-size-td'>
		<%= person.status_name %>		
	</td>
	<td class='td_holder mm-size-td'>
		<%= person.email %>		
	</td>
	<td class='td_holder mm-size-td'>
		<%= person.phone_mob %>		
	</td>
	<td class='td_holder medium-size-td'>
		<%= person.family_status_name %>		
	</td>
	<td class='td_holder medium-size-td'>
		<%= person.car_owner_name %>		
	</td>
	<td class='td_holder medium-size-td'>
		<%= person.computer_knowledge_name %>		
	</td>
</tr>
