<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
	<td class='td_left'><%= gravatar_for person, size: 52 %></td>
	<td class='td_holder'><%= link_to person.name, person %></td>
	<td class='td_holder'><%= link_to person.family_name, person %></td>
	
  <% if current_user.admin? && !current_user?(person) %>
	  <td class='td_holder'><%= link_to t(:edit), edit_person_path(person), class: "btn btn-small" %></td>
	  <td class='td_holder td_right'><%= link_to t(:delete), person, method: :delete, class: "btn btn-small",
	                                  data: { confirm: t(:confirm) } %></td>
  <% end %>
</tr>
