<%= render partial: 'shared/header_edit', locals:{ title: t('.editing'), 
	new_path: new_person_path, cur_item: @person,
	index_path_name: t('people.index.list'), index_path: people_path} %>

<%= form_for(@person) do |f| %>	
	<div class="row">
	  	<%= render 'shared/error_messages', object: f.object %>
		<table>
			<tr>
				<td>					
				  	<%= f.label :name, t(:name) %>
				  	<%= f.text_field :name %>
				  	
				  	<%= f.label :family_name %>
				  	<%= f.text_field :family_name %>
				
				  	<%= f.label :email %>
				  	<%= f.text_field :email %>
				
				  	<%= f.label :password %>
				  	<%= f.password_field :password %>
				
				  	<%= f.label :password_confirmation %>
				  	<%= f.password_field :password_confirmation %>
				  	<br>
				  	<%= f.check_box :admin, class:"input_checkbox" %>
				  	<%= f.label :admin, class: "label_checkbox" %>
				</td>
				<td>										
				  	<%= f.label :gender %>
				  	<%= f.select :gender, @person.gender_arr %>	
				  						
				  	<%= f.label :status %>
				  	<%= f.text_field :status %>	
				  					
				  	<%= f.label :phone %>
				  	<%= f.telephone_field :phone %>
				  							
				  	<%= f.label :id_card_number %>
				  	<%= f.text_field :id_card_number %>	
				</td>
				<td>					
				  	<%= f.label :address %>
				  	<%= f.text_area :address, class:"text_area_address" %>
				  	
				</td>
			</tr>
		</table>
	</div>
<% end %>

<%= gravatar_for @person %>
<a href="http://gravatar.com/emails">change</a>