<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a><%= t(:main) %></a></li>
  <li><%= link_to t('languages.name'), languages_person_path(@person) %></li>
</ul>

<%= render partial: 'shared/header_edit', locals:{ title: t('.editing'), 
	new_path: new_person_path, cur_item: @person,
	index_path_name: t('people.index.list'), index_path: people_path,
	isForceSave: current_user?(@person)
}%>

<%= render 'form' %>
	
<div class="row">
	<div class="col-md-1">	
		<% if @person.email.present?%>
			<%= gravatar_for @person %>
		<% end %>
	</div>
	<div class="col-md-2">
		<a href="http://gravatar.com/emails">change</a>
	</div>
	<div class="col-md-9">
	</div>
</div>

<%= render 'edit_js' %>