<%= render partial: 'shared/header_index', 
	locals:{ title: t('.list'),  path:new_person_path} %>

<%= will_paginate %>
<table class='table-bordered tabletable-hover table-index'>
  <thead>
    <tr>
      <th></th>
      <th><%=  t(:name) %></th>
      <th><%= t('people.form.family_name')%></th>
      <th><%=  t('activerecord.attributes.person.status') %></th>
      <th><%=  t('activerecord.attributes.person.email') %></th>
      <th><%=  t('activerecord.attributes.person.phone_mob') %></th>
    </tr>
  </thead>

  <tbody  class="tbody_events">
  	<%= render @people %>
  </tbody>
</table>


<%= will_paginate %>
