<% provide(:title, t('.list')) %>
<h1>
	<span  class="header_title"><%=  t('.list') %></span>
	<%= link_to t(:new), new_person_path, class: "link_header btn btn-small" %>
</h1>

<%= will_paginate %>
<table>
  <thead>
    <tr>
      <th></th>
      <th><%=  t(:name) %></th>
      <th><%= t('people.form.family_name')%></th>
      <th class="btn_holder"></th>
      <th class="btn_holder"></th>
    </tr>
  </thead>

  <tbody  class="tbody_events">
  	<%= render @people %>
  </tbody>
</table>


<%= will_paginate %>
