<ul class="nav nav-tabs" role="tablist">
  <li>
  	<%= link_to t('main'), edit_person_path(@person) %>  	
  </li>
  <li><%= link_to t('languages.name'), languages_person_path(@person) %></li>
  <li class="active"><a><%= t('roles.name') %></a></li>
  <li  class="tab-heading">
  	<label style="font-size: 20px; font-weight: bold;"><%= "#{@person.name} #{@person.family_name}" %></label>  	 
  </li>
</ul>

<%= render partial: "roles" %>
	