<%= form_for search, as: :f, method: :get, url: department_person_roles_path, html: {id: 'search-form'} do |search_form| %>
  <% field_set_tag do %>
  	<span class='search_span'>
	  <%= search_form.label :department_name, t('activerecord.models.department') %>
	  <%= search_form.search_field :department_name, class:'search_field' %>  		
  	</span>
  	
  	<span class='search_span'>
	  <%= search_form.label :role_name, t('activerecord.models.role') %>
	  <%= search_form.search_field :role_name, class:'search_field' %>  		
  	</span>
  	
  	<span class='search_span'>
	  <%= search_form.label :person_name, t(:name) %>
	  <%= search_form.search_field :person_name, class:'search_field' %>  		
  	</span>
  	<span class='search_span'> 	  
  	  <%= search_form.label :family_name, t('activerecord.attributes.person.family_name') %>
	  <%= search_form.search_field :family_name, class:'search_field' %> 		
  	</span>
  	
  	<span class='search_span'>  												
	  	<%= search_form.label :person_gender, t('activerecord.attributes.person.gender') %>
	  	<%= search_form.select :person_gender, Person.gender_arr, {}, 
	  		{ class: 'search_field' } %>	
  	</span>
  	
  	<!-- <span class='search_span'>
	  <%= search_form.submit t(:search), id:'sf_btn_search'%>  		
  	</span>
  	<span class='search_span'>
	  <%= button_to_function t(:clear), "reset_search_elements()", id:'sf_btn_clear' %>  		
  	</span> -->
  <% end %>
<% end %>	