<%= form_for(@department_person_role) do |f| %>
  <% if @department_person_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department_person_role.errors.count, "error") %> prohibited this department_person_role from being saved:</h2>

      <ul>
      <% @department_person_role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :department_id %><br>
		<%= f.select :department_id, 
		              @department_person_role.departments_array
		                .map { |key, value| [value, key] } %>	
  </div>
  <div class="field">
    <%= f.label :person_id %><br>
    <%= f.text_field :person_id %>
    <%= f.text_field :person_full_name %>
  </div>
  <div class="field">
    <%= f.label :role_id %><br>
		<%= f.select :role_id, 
		              @department_person_role.roles_array
		                .map { |key, value| [value, key] } %>	
  </div>
  <div class="actions hide">
    <%= f.submit %>
  </div>
<% end %>

<%= render 'form_js' %>  
  
