<%= form_for(@payment_type_status) do |f| %>
  <% if @payment_type_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment_type_status.errors.count, "error") %> prohibited this payment_type_status from being saved:</h2>

      <ul>
      <% @payment_type_status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :payment_type_id %><br>
    <%= f.text_field :payment_type_id %>
  </div>
  <div class="field">
    <%= f.label :status_id %><br>
    <%= f.text_field :status_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
