<h1>Listing payment_type_statuses</h1>

<table>
  <thead>
    <tr>
      <th>Payment type</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_type_statuses.each do |payment_type_status| %>
      <tr>
        <td><%= payment_type_status.payment_type %></td>
        <td><%= payment_type_status.status %></td>
        <td><%= link_to 'Show', payment_type_status %></td>
        <td><%= link_to 'Edit', edit_payment_type_status_path(payment_type_status) %></td>
        <td><%= link_to 'Destroy', payment_type_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment type status', new_payment_type_status_path %>
