<% provide(:title, title) %>
<h1>
	<div class="header-title"><%= title %></div>
	<%= link_to t(:list), index_path, class:"link_header btn btn-small", 
			id: "list_link_header" %>
	<%= link_to t(:new), new_path, class: "link_header btn btn-small", 
			id: "new_link_header" %>
	<%= link_to t(:delete), cur_item, method: :delete, class: "link_header btn btn-small", 
	        id: "delete_link_header", data: { confirm: t(:confirm) } %>
	<%= link_to t(:save), '#', class:"link_header btn btn-small", 
			id: "save_link_header"  %> 	 	
</h1>

<script type="text/javascript">
$(document).ready(function(){
    $('#save_link_header').click(function(){
        $('form').submit();
        return false;
    });
});
</script>