<%= form_for(@event) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="field">
    <%= f.label :event_date, t('.event_date') %> 
    <%= f.date_field :event_date, class:'form-control date inline_container' %>
  </div>
  
  <div class="field">
    <%= f.label :event_type_id, t('.event_type_id') %> 
    <%= f.select :event_type_id, @event.event_types_array ,{}, { class: 'form-control' }%>
  </div>
  
  <div class="field">
    <%= f.label :description, t('.description') %>
    <%= f.text_field :description, class:'form-control extended_input' %>
  </div>
<% end %>


