<%= will_paginate @people %>
<table class='table-bordered tabletable-hover table-index'>
  <thead>
    <tr>
      <th></th>
      <th><%= t(:name)%></th>
      <th><%= t('people.form.family_name')%></th>
      <th><%=  t('activerecord.attributes.person.status') %></th>
      <th class="btn_holder"></th>
    </tr>
  </thead>

  <tbody  class="tbody_events">
  	<%= render partial: "person", collection: @people %>
  </tbody>
</table>
<%= will_paginate @people %>