<tr class="<%= cycle('list_line_odd', 'list_line_even') %>"
	id="tr_for_person_id_<%= person.id %>">
	<td class='td_left'><%= gravatar_for person, size: 32 %></td>
	<td class='td_holder field'><%= link_to person.name, person %></td>
	<td class='td_holder field'><%= link_to person.family_name, person %></td>	
  	<td class='td_holder td_right form_holder'>
	  	<% if current_user.admin?%>
		  	<% if @event.is_perosn_exists?(person) %>
		  	<%= render partial: "remove_person_form", 
				locals: {event: @event, person: person} %>
		  	<% else %>
		  	<%= render partial: "add_person_form", 
				locals: {event: @event, person: person} %>
		  	<% end %>
	  	<% end %>
  	</td>
</tr>
