<tr class="<%= cycle('list_line_odd', 'list_line_even') %>"
	id="tr_for_person_id_<%= person.id %>">
	<td class='td_left'><%= gravatar_for person, size: 52 %></td>
	<td class='td_holder field'><%= link_to person.name, person %></td>
	<td class='td_holder field'><%= link_to person.family_name, person %></td>
	
  <% if current_user.admin?%>
  	<% if @event.is_perosn_exists?(person) %>
	  <td class='td_holder td_right'>
	  	<%= form_for(@event.person_event_relationships.find_by(person_id: person.id),
             html: { method: :delete }) do |f| %>
             <div>
			  	<%= f.hidden_field :person_id %>
			  	<%= f.hidden_field :event_id %>
			  </div>
		  <%= f.submit "Remove", class: "btn btn-small" %>
		<% end %>
	  </td>
  	<% else %>
	  <td class='td_holder td_right'>
	  	<%= form_for(@event.person_event_relationships.build(person_id: person.id)) do |f| %>
		  <div>
		  	<%= f.hidden_field :person_id %>
		  	<%= f.hidden_field :event_id %>
		  </div>
		  <%= f.submit "Add", class: "btn btn-small  btn-primary" %>
		<% end %>	  	
	  </td>
  	<% end %>
  <% end %>
  <!-- <td><%= @event.id %></td> -->
</tr>
