<%= render partial: 'shared/header_index', 
	locals:{ title: t('.list')} %>
	
<div class="row">
  <div class="col-md-4">.col-sm-4</div>
  <div class="col-md-4">.col-sm-4</div>
  <div class="col-md-4">.col-sm-4</div>
</div>

<table>
  <thead>
    <tr>
      <th>App setup type</th>
      <th>Language code</th>
      <th>Code</th>
      <th>Description</th>
      <th>Str value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @application_setups.each do |application_setup| %>
      <tr>
        <td><%= application_setup.setup_type_name_by_hash %></td>
        <td><%= application_setup.language_code_id %></td>
        <td><%= application_setup.code_id %></td>
        <td><%= application_setup.description %></td>
        <td><%= application_setup.str_value %></td>
        <td><%= link_to 'Show', application_setup %></td>
        <td><%= link_to 'Edit', edit_application_setup_path(application_setup) %></td>
        <td><%= link_to 'Destroy', application_setup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


