<%= form_for(@paymet_type) do |f| %>
  <% if @paymet_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paymet_type.errors.count, "error") %> prohibited this paymet_type from being saved:</h2>

      <ul>
      <% @paymet_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :frequency %><br>
    <%= f.number_field :frequency %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
