<%= form_for(@payment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
 
  <div class="field">
    <%= f.label :event_date, t('activerecord.attributes.payment.payment_date') %> 
    <%= f.date_field :payment_date, class:'form-control date' %>
  </div>
  
  <div class="field">
    <%= f.label :event_type_id, t('activerecord.attributes.payment.payment_type_id')%>
    <%= f.select :payment_type_id, 
      @payment.payment_type_array.map { |key, value| [value, key] }, 
      {}, { class: 'form-control' }%>
  </div>
  
  <div class="field">
    <%= f.label :description, t('description') %>
    <%= f.text_field :description, class:'form-control extended_input' %>
  </div>
<% end %>
