<%= form_for search, as: :f, method: :get, url: payments_path, 
	html: {id: 'search-form', class: 'search-form'} do |search_form| %>
  <% field_set_tag do %>
  	<span class='search_span'>
	  <%= search_form.label :payment_date_after, t(:date_after) %>
	  <%= date_field_tag('payment_date_after', search.payment_date_after, 
	  					{name:'f[payment_date_after]', id:'f_payment_date_after', 
	  					class:'form-control search_field'})%>  
  	</span>
  	<span class='search_span'>
	  <%= search_form.label :payment_date_before, t(:date_before) %>
	  <%= date_field_tag('payment_date_before', search.payment_date_before, 
	  					{name:'f[payment_date_before]' , id:'payment_date_before', 
	  					class:'form-control search_field'})%>  		
  	</span>
  	<span class='search_span'>  												
	  	<%= search_form.label :payment_type_id, t('activerecord.attributes.payment.payment_type_id') %>
	  	<%= search_form.select :payment_type_id, PaymentType.all.map { |et| [et.name, et.id] }, {include_blank: true}, 
	  		{ class: 'form-control search_field long_search_select' } %>	
  	</span>
  	<span class='search_span'> 	  
  	  <%= search_form.label :description, t('activerecord.attributes.payment.description') %>
	  <%= search_form.search_field :description, 
	  	class:'form-control search_field long_search_input' %> 		
  	</span>
  	<span class='search_span'>  												
	  	<%= search_form.label :sort_params_for, t(:sort_by) %>
	  	<%= search_form.select :sort, search.sort_params_arr,  {include_blank: false},
	  		{ class: 'form-control search_field long_search_select' } %>		
  	</span>
  <% end %>
<% end %>	