<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
  <td class='td_left short-size-td'>
  	<%= payment.payment_date.to_formatted_s(:long) %>  	
  </td>
  <td class='td_holder mm-size-td  module-link'>
  	<%= link_to payment.payment_type_name, edit_payment_path(payment) %> 
  	<span class='hide'><%= payment.payment_type_id %></span>
  </td>
  <td class='td_holder  long-size-td'>
  	<%= payment.description %>  	
  </td>
  <td class='td_holder short-size-td text-center btn_holder'>
    	<%= render partial: 'shared/xlsx_download_grid', 
			locals:{ download_path: all_people_payment_path(payment.id, format: "xlsx")} %>
  </td>
</tr>