<%= form_for(@payment_type) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="field">
    <%= f.label :name, t(:name) %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :frequency %><br>
    <%= f.select :frequency, @payment_type.frequency_arr  %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
<% end %>

