<%= form_for(@payment_type, 
  url:  payments_report_payment_type_path(@payment_type.id, format: "xlsx"),
  html: {method: "get", class: "payments_report", id:"payments_report"}) do |f| %>
  
  <table>
    <tr>
      <td colspan="3">
        <h2><%= t(:report) %></h2>
      </td>
    </tr>
    <tr>
      <td  style="padding-left:20px">
        <div class="field">
          <label for="payment_date_start"><%= t(:date_start) %></label><br>
          <%= date_field_tag('payment_date_start', 
            (Date.today -  (Date.today.day-1) - ((Date.today.month-1).month)), 
            {:required => true}) %>
        </div>
      </td>
      <td style="padding-left:20px">
          <!--Biginig of a month  (Date.today -  (Date.today.day-1)) -->
          <!- Biginig of a month before  (Date.today -  (Date.today.day-1) - 1.month)--->
           <div class="field">
            <label for="payment_date_end"><%= t(:date_end) %></label><br>
             <%= date_field_tag('payment_date_end', Date.today, {:required => true}) %>
          </div>
      </td>
      <td style=" vertical-align: bottom; padding-bottom:20px;padding-left:20px">
        <button type="submit" class="btn btn-default btn-prm"><%= t(:create) %></button>
      </td>
    </tr>
  </table>
<% end %>
      



