<%= render partial: 'shared/header_edit', locals:{ title: t('.editing'), 
	new_path: new_payment_type_path, cur_item: @payment_type,
	index_path_name: t('payment_types.index.list'), index_path: payment_types_path,
	formClassName: 'edit_payment_type' } 
	 %>



<table>
  <tr>
    <td style="vertical-align: top;">
		  <%= render 'form' %>
    </td>
    <td style="width:50px"></td>
    <td style="border: solid 1px; padding-top:20px;padding-left:20px;padding-right:20px">
        <%= render partial: "payments_report_form" %>
    </td>
    <td style="width:50px"></td>
    <td style="border: solid 1px; padding-top:20px;padding-left:20px;padding-right:20px;width:250px;">
      <div style="overflow-y: auto;">
      
        <%= form_for(@payment_type, 
          url: update_statuses_payment_type_path(@payment_type.id, format: "xlsx"),
          html: {method: "get", class: "payment_type_statuses", id:"payment_type_statuses"}) do |f| %>
        
          <div style="width:100%">
            <button type="submit" class="btn btn-default btn-primary"><%= t(:update) %></button>
          </div>
            
          <% Status.all.each do |status| %>
            <div style="width:100%">
              <input id="<%= status.id %>" type="checkbox">
              <label style="display: inline-block;position: relative; top: -5px;"><%= status.name %></label>
            </div>
          <% end %>
          
        <% end %>

      </div>
    </td>
  </tr>
</table>

<%= render 'edit_js' %>



