<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @application_setup_type.code_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @application_setup_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @application_setup_type.description %>
</p>

<%= link_to 'Edit', edit_application_setup_type_path(@application_setup_type) %> |
<%= link_to 'Back', application_setup_types_path %>
