<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    
      <%= link_to ApplicationSetup.get_organization_name, root_path, id: "logo", class:I18n.locale %>
      <nav>
        <ul class="nav navbar-nav navbar-right pull-right">
          <li><%= link_to t('home_page'), root_path %></li>
	        <li id="fat-menu" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t('about')%> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
    	      <li><%= link_to t('about_us'),   about_path %></li>
    	      <li><%= link_to t('contact_us'), contact_us_path %></li>
          </ul>
	      </li>
          <% if signed_in? %>
          	<li><%= link_to t('people.index.list'), people_path %></li>
          	<li><%= link_to t('events.index.list'), events_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= t('actions')%> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
            	  <li><%= link_to t('people.name'), people_path %></li>
                <li><%= link_to t('events.name'), events_path %></li>
                <li><%= link_to t('payments.name'), payments_path %></li>
                
                <li class="divider"></li>
                <li><%= link_to t('languages.name'), languages_path %></li>
                <li><%= link_to t('statuses.name'), statuses_path %></li>
                <li><%= link_to t('event_types.name'), event_types_path %></li>
                <li><%= link_to t('payment_types.name'), payment_types_path %></li>
                
                 <li class="divider"></li>
                <li><%= link_to t('departments.name'), departments_path %></li>
                <li><%= link_to t('roles.name'), roles_path %></li>
                <li><%= link_to t('department_person_roles.name'), department_person_roles_path %></li>
              </ul>
            </li>
          		<li><%= link_to t('profile'), edit_person_path(current_user) %></li>
              <li><%= link_to t('sign_out'), signout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to t(:log_id), signin_path %></li>
          <% end %>
          <li>
          	<%= form_tag loc_lang_path, :method => :post, class: 'locale' do %>          	
	          	<%= select_tag 'set_locale',  options_for_select(LANGUAGES, I18n.locale.to_s), 
	          	onchange: 'this.form.submit()', class: 'languages hide' %>
	          	<%= submit_tag 'submit' %>
	          	<%= javascript_tag "$('.locale input').hide()" %>
          	<% end %>
          </li>
        </ul>
      </nav>
    
  </div>
</header>
